/* styles.css */
/* ======= Base ======= */
@page {
  size: A4;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #545E6C;
  background: #f5f5f5;
  font-size: 12px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
a {
  color: #2d7788;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #1a454f;
}
a:focus {
  text-decoration: none;
}
p {
  line-height: 1.5;
}
#avatar {
  border-radius: 50%;
  border: 2px solid white;
}
.wrapper {
  background: #42A8C0;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.sidebar-wrapper {
  background: #42A8C0;
  position: absolute;
  right: 0;
  width: 240px;
  height: 1065px;
  min-height: 800px;
  color: #fff;
  border-radius: 25px 0 0 25px;
}
.sidebar-wrapper a {
  color: #fff;
}
.sidebar-wrapper .profile-container {
  padding: 15px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
  border-radius: 25px 0 0 0;
}
.sidebar-wrapper .name {
  font-size: 25px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 5px;
}
.sidebar-wrapper .tagline {
  font-size: 15px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
}
.sidebar-wrapper .profile {
  margin-bottom: 5px;
}
.sidebar-wrapper .contact-list .fa {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}
.sidebar-wrapper .contact-list .email .fa {
  font-size: 14px;
}
.sidebar-wrapper .container-block {
  padding: 7px 15px ;
}
.sidebar-wrapper .container-block-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.sidebar-wrapper .personal-list .fa {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}
.sidebar-wrapper .personal-list li:last-child {
  margin-bottom: 0;
}
.sidebar-wrapper .container-block-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
}
.sidebar-wrapper .degree, .school {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 5px;
}
.sidebar-wrapper .education-container .item {
  margin-bottom: 5px;
}
.sidebar-wrapper .education-container .item:last-child {
  margin-bottom: 0;
}
.sidebar-wrapper .education-container .meta {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0;
}
.sidebar-wrapper .education-container .time {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  margin-bottom: 0px;
}
.sidebar-wrapper .languages-container .lang-desc {
  color: rgba(255, 255, 255, 0.6);
}
.sidebar-wrapper .languages-list {
  margin-bottom: 0;
}

.main-wrapper {
  background: #fff;
  padding: 60px;
  padding-right: 280px;
}
.main-wrapper .section-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #2d7788;
  position: relative;
  margin-top: 0;
  margin-bottom: 7px;
}
.main-wrapper .section-title .fa {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  display: inline-block;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #2d7788;
  text-align: center;
  padding-top: 8px;
  font-size: 16px;
  position: relative;
  top: 0px;
}
.main-wrapper .section {
  margin-bottom: 35px;
}
.main-wrapper .experiences-section .item {
  margin-bottom: 55px;
}
.main-wrapper .upper-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}
.main-wrapper .job-title {
  color: #3F4650;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
.main-wrapper .time {
  position: absolute;
  right: 0;
  top: 0;
  color: #97AAC3;
}
.main-wrapper .company {
  margin-bottom: 5px;
  color: #97AAC3;
}
.project-wrapper {
  padding: 60px;
  background: #fff;
}
.project-wrapper .project-title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 5px;
}
.project-wrapper .projects-section .intro {
  margin-bottom: 30px;
}
.project-wrapper .projects-section .item {
  margin-bottom: 15px;
}
.full-width-wrapper {
  padding: 60px;
  background: #fff;
}
.page-break {
  page-break-before: always;
  margin-top: 60px;
}
.skillset .item {
  margin-bottom: 15px;
  overflow: hidden;
}
.skillset .level-title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 12px;
}
.skillset .level-bar {
  height: 12px;
  background: #f5f5f5;
}
.skillset .level-bar-inner {
  height: 12px;
  background: #7bc2d3;
}
.footer {
  padding: 30px;
  padding-top: 60px;
}
.footer .copyright {
  line-height: 1.6;
  color: #545E6C;
  font-size: 13px;
}
.footer .fa-heart {
  color: #fb866a;
}
.project-information {
  box-sizing: border-box;
  font-size: 14px;
  color: #97AAC3;
}
.project-information .fa{
  margin-right: 5px;
  vertical-align: middle;
}
.main-filler {
  margin-top: 3px;
  height: 3px;
  background: #1a454f;
}
.level-filler {
  height: 3px;
  background-color: #42A8C0;
}
.knowledge {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}
.skill-box {
  padding: 5px;
  height: 50px;
  width: 100%;
}
.skill-level-value {
  float: right;
}
.category-item {
  margin-bottom: 30px;
}
.category-item:last-child {
  margin-bottom: 0px;
}
ul.skillset {
  list-style-type: none;
  border-width: 1px 1px 0 0;

}
.skillset li{
  border: 0px solid silver;
  -o-transition: all 0.07s;
  transition: all 0.07s;
  display: inline-block;
  margin: 5px;
  background-color: #2d7788;
  border-radius: 2px;
  text-decoration: none;
  padding: 3px 6px;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
}

/* Extra small devices (phones, less than 768px) */
/* @media (max-width: 767px) {
  .sidebar-wrapper {
    position: static;
    width: inherit;
  }
  .main-wrapper {
    padding: 30px;
  }
  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
  }
  .main-wrapper .upper-row {
    margin-bottom: 0;
  }
  .skill-box {
    width: 100%;
  }
} */


/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .skillset .level-title {
    display: inline-block;
    float: left;
    width: 30%;
    margin-bottom: 0;
  }
  .skillset .level-bar {
    display: inline-block;
    width: 70%;
    float: left;
    position: relative;
    top: 1px;
  }
  .knowledge{
    flex-direction: row;
  }
  .skill-box {
    width: 260px;
  }
}

/* Page style for the printer */
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
  html,body{
    height:297mm;
    width:210mm;
  }
  body {
    background-color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none; 
  }
  .wrapper {
    background-color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    max-width: max-content;
 
  }
  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  section:last-child {
    margin-bottom: 0px;
  }
  /* .professionalSkills-section {
    page-break-before: always;
    margin-top: 60px;
  }
   */
  .projects-section {
    page-break-before: always;
    /* margin-top: 60px; */
  }

  .projects .category-item:last-child {
    page-break-before: auto;
    margin-top: 60px;
  }

  /* .projects .category-item:nth-child(4) {
    page-break-before: always;
    margin-top: 60px;
  } */
  .skill-box {
    width: 260px;
  }

  .main-wrapper {
    padding-left: 30px;
    padding-top: 30px;
  }

  /* .sidebar-wrapper {
    height: 1350px;
  } */

  .sidebar-wrapper {
    border-radius: 25px;
  }
  .sidebar-wrapper .profile-container {
    background-color: rgba(0, 0, 0, 0);
  }
}


/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */